#block access to anything but the files allowed
<FilesMatch "\.(htaccess|htpasswd|ini|php|git|svn|log|sh|sql|sqlite|cache|txt)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>

#Allow the index.php file
<FilesMatch "index\.php$">
	Allow from all
</FilesMatch>

# Disable directory browsing
Options All -Indexes

# Prevent folder listing
IndexIgnore *

# Set Deafault page
DirectoryIndex index.php

<IfModule mod_rewrite.c>

	# Switch on the rewrite rules engine
	RewriteEngine on
	# Hide svn and git folders/files
	RedirectMatch 404 /\\.(svn|git)
    
	# If the file/dir does not exist, route everything to index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !^/(robots\.txt|favicon\.ico)

	RewriteRule ^(.*)$ index.php?url=$1 [PT,L,QSA]

</IfModule>
